/*-- GENERAL STYLING --*/
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*-- GAME PAGE STYLING --*/
#gameArea {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 80% 20%;
    grid-template-areas: "game shop""items ."
}

#canvasArea {
    grid-area: game;
}

#shopArea {
    grid-area: shop;
    border-bottom: 1px solid #000;
}

#itemArea {
    grid-area: items;
    border-right: 1px solid #000;
}